<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="in" value="input" />
    <add key="out" value="output" />
    <add key="prefix" value="img" />
    <add key="ext" value="jpeg" />
    <add key="ext2" value="png" />
    <add key="textBarcode" value="https://play.google.com/store/apps/details?id=com.qrcodescanner.barcodescanner" />
    <add key="timeout" value="10000" />    
  </appSettings>
</configuration>
